<center>
<h1 class="headings", style="width:400px">Welcome to the About page</h1>
<br><br>
<%= link_to 'Articles listing', articles_path, class:"headings" %> |
<%= link_to 'Categories listing', categories_path, class:"headings" %> |
<%= link_to 'Home page', root_path, class:"headings" %>
</center>