<div class="container" id="home-container">
<center>
  <div class="jumbotron text-center text-white">
    <h1 class="headings" >Blog</h1>
    <p class="lead" style="color:white">This is a simple blog webiste. You can create your account and share your articles and thoughts.</p>
    <hr class="my-4">
    <p style="color:white">I believe in freedom of speech, so bring on your wildest opinions and yeah, excuse the boring UI, my main aim was to get the Backend right, but you can expect a decent UI in my coming projects.</p>
    <div class="fotorama"
        data-allowfullscreen="true">
      <img src="https://picsum.photos/200", width=400 ,height=400, style="border: 1px solid black; border-radius:10px;">
      <%
=begin%>
 <img src="https://ucarecdn.com/a9ed82c6-14f1-462e-849e-3b007c2aae87/"> 
<%
=end%>
    </div>
    <br>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg", style:"padding:5px; border: 1px solid black; border-radius: 10px; background: whitesmoke;" %>
  </div>
  </center>
</div>