<html>
    <div class="update">
        <center>
            <h1 style="padding:30px; color: black; background: whitesmoke; border: 1px solid black; border-radius:10px; width: 30%;">Update category</h1>
            <%= render 'form' %>
            <%= link_to "Return to category", category_path(@category) %>
        </center>
    </div>
</html>