<html>
    <div class="signup">
        <center>
            <h1 style="padding:30px; color: black; background: whitesmoke; border: 1px solid black; border-radius:10px; width: 30%;">Create a new category</h1>
            <%= render 'form' %>
            <%= link_to "Return to categories listing", categories_path %>
        </center>
    </div>
</html>