<center>
<div class="container">
  <% flash.each do |name, msg| %>
  <br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <div style="margin-top: -19px; padding: 30px; background: white; border:1px black; shadow:2px; color: black; border-radius: 10px; border: 1px solid black ; width: 300px;"><%= msg %></div>
    </div>
    <br>
  <% end %> 
</div>
</center>